/* ------------------------------------------------------------ *\
	Panel
\* ------------------------------------------------------------ */

.panel {
    &__head {
        text-align: center;
		padding-bottom: 40px;
    }

    &__body {
        padding: 20px 0;
    }

    &__entry {
        margin-top: 50px;
        font-style: italic;
        text-align: center;
    }
}

/* ------------------------------------------------------------ *\
	Panel Item
\* ------------------------------------------------------------ */

.panel-item {
    background-color: $white;
    border-radius: 10px;
    border: 2px solid rgba($main-color, 0.1);
    transition: background-color .3s;

    &--small {
        .panel-item__head {
            padding: 17px;
            font-size: 12px;
        }

        .panel-item__entry {
            width: 50%;
            font-size: 14px;
        }
    }

    &.started {
        background-color: $alternative-color;
    }

    &.overdue {
        background-color: $error;
    }

    &.finished {
        background-color: $success;

        .panel-item__actions {
            display: none;
        }

        .panel-item__entry {
            text-decoration: line-through;
        }
    }

    &.active {
        .panel-item__body {
            display: block;
        }
    }

    .btn + .btn {
        margin-left: 10px;
    }

    & + .panel-item {
        margin-top: 20px;
    }

    &__head {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 14px;
    }

    &__entry {
        font-size: 18px;
    }

    &__duration {
        width: calc(50% - 70px);
        text-align: right;
    }

    &__progressbar {
        position: relative;
        width: 70px;
        height: 15px;
        background-color: $light-grey;
        border-radius: 8px;

        span {
            position: absolute;
            left: 2px;
            top: 2px;
            display: inline-block;
            height: 11px;
            width: 0;
            border-radius: 6px;
            background-color: $main-color;
        }
    }

    &__body {
        display: none;
        padding: 0 17px 17px;
        font-size: 16px;
    }

    &__foot {
        text-align: center;
        padding-top: 10px;
    }

    &__actions {
        padding-top: 17px;
        text-align: center;
    }
}